/* loading spinner class, for div */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  filter: brightness(200%);
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  background-color: var(--color-accent);
  /*border: 10px solid var(--color-text-secondary);*/

  border-top: 8px solid var(--color-link);
  /*border: 10px solid var(--color-text-secondary);*/
  /*border-top: 10px solid var(--color-link);*/
  border-radius: 50%;
  height: 31px;
  width: 39px; /* height + border top */
  animation: spin 1s linear infinite;
  animation-duration: 8s;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
  width: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80%;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8rem;

  /* Position the tooltip text over the field, to the right */
  position: absolute;
  z-index: 1;
  bottom: 34%;
  left: -8%;
  margin-left: 30%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
